@{
    Layout = "_Resultados_Grid.cshtml";
}
@foreach (var item in Model.TabelasBrutas.TabelaInterface)
{
    <tr>
        <td>@item.NumeroOcorrencia</td>
        <td>@item.Complexidade</td>
        <td>@item.Peso</td>
        <td>@item.Resultado</td>
    </tr>
}
 