@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                <div class="input-group-addon">.00</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Transfer cash</button>
    </form>
</div>
<div class="row">
    <div class="btn-group">
        <button class="btn btn-default" id="btnAdicionar" type="button">Adicionar item Tabela</button>
    </div>
</div>
<script>
    $("#btnAdicionar").click(function () {

    })
</script>