@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <table>

            <thead>
                <tr>Nome da tabela</tr>
                <tr>Quantidade de Atributos</tr>
            </thead>
            <tbody>
                <tr>
                    <td>aaa</td>
                    <td>aaa</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">

        <span>Nome da Tabela</span>
        <input class="" type="text" />
        <span>Quantidade de Atributos</span>
        <input id="txtAtributos" type="number" />
    </div>
    <div class="btn-group">
        <button class="btn btn-default" id="btnAdicionar" type="button">Adicionar item Tabela</button>
    </div>
</div>
<script>
    $("#btnAdicionar").click(function () {

    })
</script>