@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>Paramêtros</h1>
        <p>Será onde vamos definir preços de tipos de aplicação, valor default da PA</p>
        <div id="carbonads-container">
            <div id="azcarbon">
                <p>Não se esqueça de clicar no botão SALVAR</p>
            </div>
        </div>
    </div>
</div>