@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>Resultados</h1>
        <p>Estes são os resultados de sua aplicação em média de tempo para desenvolver e custo.</p>
        <div id="carbonads-container">
            <div id="azcarbon">
                <p>Preencha logo abaixo suas tabelas, caso queira adicionar mais, clique no botão [+]</p>
            </div>
        </div>
    </div>
</div>
